{{#if user}}
<div class="container">
    <br />
        <form
      action="/logout"
      method="get"
      style="background: lightgreen; border-radius: 5px; padding: 10px; display: flex; justify-content: space-between;"
    >
      <h1>Bienvenido {{user}}</h1>
      <button type="submit" class="btn btn-primary">Desconectar</button>
    </form>
    <br />
    <h1>Añade un producto</h1>
    <br />
    <form onsubmit="return addProduct(this)">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"
                placeholder="Ingrese un nombre" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Precio</label>
            <input type="number" class="form-control" name="price" id="price" aria-describedby="emailHelp"
                placeholder="Ingrese un precio" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Imagen</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" aria-describedby="emailHelp"
                placeholder="Ingrese un url de imagen" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Enviar</button>
        <br />
    </form>
</div>
<div class="container">
    <br />
    <h1>Vista de los productos</h1>
    {{#if body}}
    <table class="table" style="background-color:  rgb(47, 41, 243); color: rgb(229, 251, 57);">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="productos" style="color: gray">
        </tbody>
    </table>
    {{else}}
    <p>No hay productos en la base de datos</p>
    {{/if}}
  </div>
  <div class="container">
    <!-- Content here -->
    <br />
    <h1> Sala de Chat</h1>

    <form>
      <input type="text" id="username" placeholder="Tu email" />
      <br /><br />
      <input type="text" id="firstname" placeholder="Tu nombre" />
      <br /><br />
      <input type="text" id="lastname" placeholder="Tu apellido" />
      <br /><br />
      <input type="text" id="age" placeholder="Tu edad" />
      <br /><br />
      <input type="text" id="alias" placeholder="Tu alias" />
      <br /><br />
      <input type="text" id="avatar" placeholder="Tu avatar" />
      <br />
      <br />
      {{#if body2}}
        <div id="mensajes"></div>
      {{else}}
        <p>No hay base de datos</p>
      {{/if}}
      <br />
      <input type="text" id="texto" placeholder="Cuéntanos algo..." />
      <input onclick="return addMessage(this)" type="button" value="Enviar" />
    </form>
  </div>
{{else}}
  {{#if lastuser}}
    <br />
    <div
      class="container"
      style="background: lightpink; border-radius: 5px; padding: 10px;"
    >
      <!-- Content here -->
      <h1>Hasta luego {{lastuser}}</h1>
    </div>
  {{else}}
    <div class="container">
      <!-- Content here -->
      <br />
      <h1>Login de Usuario</h1>
      <br />
      <form action="/login" method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            aria-describedby="emailHelp"
            placeholder="Enter username"
          />
          <input
            type="text"
            class="form-control"
            name="password"
            id="password"
            aria-describedby="emailHelp"
            placeholder="Enter password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
    <div class="container">
      <a href="/registro" class="btn btn-primary">Ir al registro</a>
    </div>
  {{/if}}
{{/if}}
